{% load static %}

<html lang="en">
<head>
    <title>Añadir tipo de user story </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
</head>
<body style="overflow: overlay;">
    <div id="header">
        <a href="{% url "tablero" %}"><span class="logo" style="color:#df8a3d; margin-left:-5%">Gestor de Proyectos</span></a>
        {% if request.user.is_authenticated %}
          <ul class="menu">
              <li>
              <a href="{% url "list-projects" %}">Proyectos</a>
              </li>
              <li>
              <a href="{% url "tipos_us-list" id_proyecto %}">Tipo US</a></a>
              </li>
              <li>
              <a href="{% url "sprint-list" id_proyecto %}">Sprints</a>
              </li>
               <li>
              <a href="{% url "user_story-list" id_proyecto %}">Product Backlog</a>
              </li>
               <li>
              <a href="{% url "list-roles" id_proyecto %}">Roles</a>
              </li>
          </ul>
          {% endif %}
          <span class="user">
              {% if request.user.is_authenticated %}
              Hola, {{ request.user.first_name }}..
              <a style="color:#df8a3d" href="{% url "logout" %}">Cerrar Sesión</a>
              {% else %}
              <a href="{% url "login" %}">Iniciar Sesión</a>
              {% endif %}
          </span>
    </div>




{% if user.is_authenticated %}
	<h1>Editar User Story</h1>
<br/>

{% if submitted %}

    User story actualizado correctamente...

	{% else %}
	<div class="row">
		<div class="col-6">
		<form action="" method=POST style="margin-left:15px;">
			{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Actualizar" class="btn btn-secondary">

		</form>
		{% endif %}
		</div>
	</div>
<br/><br/>	

{% else %}
<h1>Deberías de estar logueado para acceder a esta página...</h1>

<a href="{% url 'login' %}">Login Here</a>

{% endif %}

</body>
</html>
