{% extends "base.html" %}

{% block title %} PROYECTO {% endblock %}

{% block content %}

<p style="margin-left:550px;"><a href="{% url "retrieve" %}">Ver Proyecto</a></p>
    <div class="container">
        <table>
            <tbody>
                <form action="create" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td> Nombre del Proyecto </td>
                        <td><input type="text" name="nombre_proyecto" required></td>
                    </tr>
                    <tr>
                        <td> Descripcion del Proyecto </td>
                        <td><textarea name='desc_proyecto' required></textarea></td>
                    </tr>
                        <tr>
                            <td> Fecha Inicio del Proyecto </td>
                            <td><input type="date" name="fecha_inicio" required></td>
                        </tr>
                        <tr>
                            <td> Fecha Fin del Proyecto </td>
                            <td><input type="date" name="fecha_fin" required></td>
                        </tr>
                        <button><input type="submit" value="Crear Proyecto"></p></button>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>

{% endblock %}