{% extends "base.html" %}

{% block title %} Tabla Proyecto {% endblock %}

{% block content %}

<body>
    <p class="display-3" style="margin-left:550px;"><a href="{% url "add-project" %}">Agregar Proyecto</a></p>
    <div>
        <table class="table table-striped" border="5px solid #000;">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>NombreP</th>
                        <th>DescP</th>
                        <th>EstadoP</th>
                        <th>Miembros</th>
                        <th>FechaI</th>
                        <th>FechaF</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
 
                </thead>
                
                {% for i in project_list %}
                <tr scope="row">
                    <td style="padding:10px;">{{i.id}}</td>
                    <td style="padding:10px;">{{i.nombre_proyecto}}</td>
                    <td style="padding:10px;">{{i.desc_proyecto}}</td>
                    <td style="padding:10px;">{{i.estado_proyecto}}</td>
                    <td style="padding:10px;">{{i.miembro}}</td>
                    <td style="padding:10px;">{{i.fecha_inicio}}</td>
                    <td style="padding:10px;">{{i.fecha_fin}}</td>
                    <td style="padding:10px;"><a href="{% url 'editp' i.pk %}">Edit</a></td>
                    <td style="padding:10px;"><a href="{% url 'delete' i.pk %}">Delete</a></td>    
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
</body>
 
{% endblock %}