{% extends "base_tablero.html" %}

{% block title %} Tablero {% endblock %}

{% block content %}
<div class="body2">
  <ul class="menu2" style="margin-top:-90px;">
        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Perfil">&nbsp;Perfil&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="{% url "list-projects" %}" data-text="&nbsp;Proyecto">&nbsp;Proyectos&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="{% url "retrieve_user" %}" data-text="&nbsp;Usuarios">&nbsp;Usuarios&nbsp;</a>
        </li>
      </ul>
</div>
{% endblock %}
