{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<h1>Editar Proyecto</h1>
<br/><br/>

{% if submitted %}

    Proyecto actualizado correctamente...

	{% else %}
	<div class="row">
		<div class="col-6">
		<form action="" method=POST style="margin-left:15px;">
			{% csrf_token %}

			{{ form.as_p }}
			{% for message in messages %}

			<div class="alert alert-success">
				<a class="close" href="#" data-dismiss="alert"></a>
				{{ message }}
			</div>

			{% endfor %}

			<input type="submit" value="Actualizar" class="btn btn-secondary">
			<a class="button" href="{% url "action-project" project.id %}" style="margin-left: 10px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; background-color: slategray;">Volver</a>
		</form>
		{% endif %}
		</div>
	</div>

<br/><br/>	

{% else %}
<h1>Debes estar con una sesion iniciada para acceder a la pantalla...</h1>

<a href="{% url 'login' %}">Login Here</a>

{% endif %}


{% endblock %}