{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<h1>Editar Tipo_US</h1>
<br/><br/>

{% if submitted %}

    Tipo_US actualizado correctamente...

	{% else %}

		<form action="" method=POST>
			{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
		{% endif %}

<br/><br/>	

{% else %}
<h1>Deberías de estar logueado para acceder a esta página...</h1>

<a href="{% url 'login' %}">Login Here</a>

{% endif %}


{% endblock %}